{

 :devices {
           :sculpt-keyboard [{:product_id 1957 :vendor_id 1118}]
           }

 :simlayers {
             :f-mode {:key :f}    ; Movement hjkl(unit move) yuio(home, pgup, pgdn, end) m,(word left, word right)
             :d-mode {:key :d}    ; Deletion ui(unit deletion) jk(word deletion) hl(line deletion) 
             :s-mode {:key :s}    ; Selection hjkl(unit select) yuio(shift + home/pgup/pgdn/end) m,(shift + word-left/word-right)
             :a-mode {:key :a}    ; Numpad 
             ;
             :q-mode {:key :q}    ; ctrl
             :w-mode {:key :w}    ; option
             :e-mode {:key :e}    ; shift
             :r-mode {:key :r}    ; command
             }

 :main [

;;      {:des "Swap Win and Alt on Sculpt keyboard"
;;       :rules [:sculpt-keyboard
;;               [:left_option :left_command]
;;               [:left_command :left_option]
;;               [:right_option :right_command]
;;               [:application :right_option]
;;               ]
;;       }

;;      {:des "CAPSLOCK is CTRL if pressed in combination, otherwise ESC"
;;       :rules  [
;;          [:##caps_lock        :left_control     nil         {:alone :escape}]
;;        ]}

        {:des "f-mode for navigation"
         :rules [:f-mode
                 [:##y          :!Cup_arrow]            ; f -> y    Move to top of page
                 [:##u          :!Cleft_arrow]          ; f -> u    Move to beginning of line
                 [:##i          :!Cright_arrow]         ; f -> i    Move to end of line
                 [:##o          :!Cdown_arrow]          ; f -> o    Move to bottom of page
                 [:##h          :left_arrow]            ; f -> h    Move one unit left 
                 [:##j          :down_arrow]            ; f -> j    Move one unit down
                 [:##k          :up_arrow]              ; f -> k    Move one unit up
                 [:##l          :right_arrow]           ; f -> l    Move one unit right
                 [:##m          :!Oleft_arrow]          ; f -> m    Move one word left
                 [:##comma      :!Oright_arrow]         ; f -> ,    Move one word right
                ]
         }

        {:des "d-mode for deletion"
         :rules [:d-mode
                  [:##u         :!Cdelete_or_backspace] ; d -> u   Delete to beginning of line
                  [:##i         :!Tk]                   ; d -> i   Delete to end of line
                  [:##j         :!Odelete_or_backspace] ; d -> j   Delete one word backwards
                  [:##k         :!Odelete_forward]      ; d -> k   Delete one word forwards
                  [:##m         :delete_or_backspace]   ; d -> m   Delete unit backwards
                  [:##comma     :delete_forward]        ; d -> ,   Delete unit backwards
                ]
         }

        {:des "s-mode for selection"
         :rules [:s-mode
                  [:##y         :!SCup_arrow]       ; s -> y    Select to beginning of page
                  [:##y         :!SCleft_arrow]     ; s -> y    Select to beginning of line
                  [:##o         :!SCright_arrow]    ; s -> o    Select to end of line
                  [:##o         :!SCdown_arrow]     ; s -> o    Select to end of page
                  [:##h         :!Sleft_arrow]      ; s -> h    Select one unit left
                  [:##j         :!Sdown_arrow]      ; s -> j    Select one unit down
                  [:##k         :!Sup_arrow]        ; s -> k    Select one unit up
                  [:##l         :!Sright_arrow]     ; s -> l    Select one unit right
                  [:##m         :!SOleft_arrow]     ; s -> m    Select one word backwards
                  [:##comma     :!SOright_arrow]    ; s -> ,    Select one word forwards
                ]
         }

        {:des "a-mode for numpad"
         :rules [:a-mode
                 [:o :9]          ;   7 8 9 
                 [:i :8]          ; . 4 5 6 ↵
                 [:u :7]          ;   1 2 3 
                 [:l :6]          ; 0
                 [:k :5]
                 [:j :4]
                 [:period :3]
                 [:comma :2]
                 [:m :1]
                 [:spacebar :0]
                 [:semicolon :return_or_enter]
                 [:h :period]
                ]
         }

        ;; Using keys for CTRL etc (home-row-mods) isn't practical with plain Karabiner.
        ;; Some changes to timeout settings would be required, and the documentation is 
        ;; not clear enough.
;;        #_{:des "Convenient CTRL (T,Y) and COMMAND (G,H)"
;;         :rules  [
;;            [:##t        :left_control     nil         {:alone :t}]
;;            [:##y        :left_control     nil         {:alone :y}]
;;            [:##g        :left_command     nil         {:alone :g}]
;;            [:##h        :left_command     nil         {:alone :h}]
;;          ]}

 ]
}

